/*created by: ritesh basnet 
    project name: tour company
    date created: 16/03/2019
*/
*
{
    margin: 0;
    padding: 0;
}
/*----------Navigation-------*/
#nav-bar
{
    position: sticky;
    top: 10px;
    z-index: 10;
}

.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}
/*-------Slider------*/

.carousel-item {
  height: 70vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slider
{
    width: 100%;
    
}
.carousel-caption
{
    top: 85%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h3
{
    color: #fff;
    
}

/*---------------About--------*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
}

/*------------------Services------------*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/bck.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-4s:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*features*/

.features
{
    padding: 100px 0;
}

h1
{
    text-align: center;
    padding-bottom: 30px;
    
}
.feature-img img
{
    width: 100%;
}
.price
{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}
.feature-img
{
    position: relative;
}
.rating
{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.features .fa
{
    font-size: 15px;
    color: #ff5722;
}
.feature-details
{
    padding: 20px;
    text-align: justify;
}
.feature-details h4
{
    font-weight: 600;
    margin-top: 20px;
}
.feature-details .fa
{
    margin-right: 5px;
}
.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
}
/*___________destinations-----------*/

#destinations
{
   padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

h1::after /*___________adding a line undernith the titlle-----------*/
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: <?php
}

class MovieZoneView {
    /*Class contructor: performs any initialization
    */
    public function __construct() {

    }
170px;
    margin: 20px auto 5px;
}

.destinations-pic
{
    margin-top: 25px;
}
.destinations-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.destinations-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.destinations-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#destinations .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul
{
  padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li
{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul, .img-box ul li
{
    transition: 0.5s;
}

.destinations-pic .img-box .book
{
    padding: 3px;
    float: left;
    background: #fff;
    bottom: -1px;
    right: 10px;
    position: absolute;
}
/* Centered text */
.centered {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;

}


#price
{
    padding: 40px 0;
    background: #efefef;
}
.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover
{
    box-shadow: 0 2px 20px #333;
}
.price-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p
{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span
{
    font-size: 15px;
}
.price-content
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li
{
 border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child
{
    border: none;
}
.fa-check-circle
{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle
{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a
{
    text-decoration: none!important;
    color: #fff!important;
}
/*----------Testimonials---------*/
#testimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img
{
    top: -60px;
    position:absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span
{
    font-size: 12px;
    color: #333;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before
{
    content: '\93';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: '\94';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
/*------------Get in Touch--------*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder
{
    color: #999 !important;
}
.follow
{
  background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}


/** Footer Styles **/

#footer {
    
background:#353537;

padding:20px 0; 

}


#footer h4 {
    
color:#777777;

font-size:18px;
    
line-height:20px;

padding-bottom:10px;

text-transform: uppercase;
    
}

#footer ul {
    
padding-left:0;

list-style:none;
    
}


@media (max-width: 767px) and (min-width: 576px){
    
    #footer ul{
        
        border-bottom:1px solid #fff;
        
    }
    
    
}


#footer ul a{
    
    color:#dddddd;
    
    display:block;
    
    font-size:14px;
    
    line-height:14px;
    
    margin:7px 0px;
    
    padding:5px 0;
    
}


#footer ul a:hover{
    
    color:#dddddd;
    
    text-decoration:underline;
    
}

#copyright {
    
    background:#333;
    
    color:#ccc;
    
    padding:20px 0;
    
    font-size:12px;
    
}


#copyright p{
    
font-size:13.4px;

margin:0;
    
}

/*--------google map-------*/

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}









